@mixin content-h2 {
    color: $color2;
    border-bottom: 4px solid $color2;
    width: 60px;
    font-weight: 300;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
@mixin content-p {
    color: $color2;
    font-size: .9em;
    margin-bottom: 60px;
}
@mixin content-ul {
    color: $color2;
    font-size: .9em;
    margin-bottom: 60px;
}